{% extends "base.html" %}
{% block content %}
  <!-- Farm Summary -->
  <section class="mb-4 col-md-6">
    <h2 class="mb-3">Farm Overview</h2>
    <p>
      This dashboard shows basic information about the farm and its
      individual fields. In later seminars, this data will come from
      a backend and user input.
    </p>
  </section>

  <section class="p-3 shadow col-md-6 rounded-2 mb-3">
    <div class="row">
      <h3>Basic Farm Info</h3>
      <ul class="col-8 ps-4">
        <li>Number of Fields: {{ context.fields | length }}</li>
        <li>Total Farmed Area: {{ context.total_area }} ha</li>
        <li>Main Crop: {{ context.main_crop }}</li>
        <li>Expected Profit: $40,761</li>
      </ul>
      <img src="{{ url_for('static', filename='Logo.png') }}" alt="Generica farms logo" class="logo col-4">
    </div>
  </section>

  <!-- Fields Section -->
  <section class="col-12 mb-4">
    <h2 class="mb-3">Fields</h2>

    <div>
      <table class="table table-responsive table-striped shadow">
        <tr>
          <th>Name</th>
          <th>Area</th>
          <th>Crop</th>
          <th>Avg Yield</th>
          <th>Actions</th>
        </tr>

        {% for field in context.fields %}
        <tr>
          <td>{{ field.name }}</td>
          <td>{{ field.area | round(2) }} ha</td>
          <td>{{ field.crop_rel.name }}</td>
          <td>Unknown %</td>
          <td>
            <a href="{{ url_for('field_view', field_id=field.id) }}" class="btn btn-primary btn-sm">View</a>
            <a href="{{ url_for('field_delete', field_id=field.id) }}" class="btn btn-danger btn-sm">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </table>

      <a href="/field/new" class="btn btn-primary">Add Field</a>
    </div>
  </section>
{% endblock %}
